.passwords-heading {
  color: white;
  font-size: 15px;
}
.count-btn {
  border-radius: 4px;
  height: 18px;
}
.heading-container {
  display: flex;
}
.search-container {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 5px;
  height: 30px;
  margin-bottom: 20px;
  justify-content: flex-end;
}
.search-icon-container {
  display: flex;
  border-right: 1px solid #c3caea;
  margin-right: 10px;
  height: 30px;
  align-items: center;
}
.top-container {
  display: flex;
  justify-content: space-between;
}
.passwords-bg-container {
  background-color: #5763a5;
  height: 70vh;
  border-radius: 8px;
  padding: 30px;
  display: flex;

  margin-top: 20px;
}
